*{
	font-size:12px;
	margin: 0px;
	padding: 0px;
}
#container{
	width: 800px;
	min-height:300px;
	margin: 100px auto;
	border: dotted 1px; 
	padding-bottom: 30px;
}
#title{
	display: block;
	width:800px;
	height: 20px;	
	background: #33eeee;
}
#returnindex{
	color:#fff;
	margin-left: 450px;
}
span{
	margin-left: 20px;
		font-size:13px;
}
#release{
	margin-left:600px;
	margin-top:20px;
	font-size: 13px;
}

#list{
		min-height:200px;
		margin:50px 30px;
	//background: #33eeff;
}
ul{
	width: 600px;
	display:inline;
	list-style:none;
}
ul li{
	margin-top: 10px;
}
ul li span a{
	text-decoration:none;
	font-size:15px;;
	margin-top: 10px;
}
ul li span a:HOVER{
	color: #33eeee;

}